#calc-container {
    background-color:aquamarine;
    display:flex;
    flex-direction:column;
    max-width:240px;
    border:5px solid black;
    border-radius:25px;
    padding:10px;
}
#calc-display-container {
    background-color:papayawhip;
    margin-bottom:5px;
}
#calc-display {
    text-align:right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:30px;
    margin:5px;
    padding:5px;
}

button {
    border:0;
    border-radius:50%;
    height:50px;
    min-width:50px;
    margin:5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
}

.operator {
    background-color:blanchedalmond;
}

#calc-btns-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}